.87_844 { 
	overflow:hidden;
}.e87_844 { 
	background-color:rgba(255, 255, 255, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e87_845 { 
	background-image:linear-gradient(0deg, rgba(119.00000050663948, 113.00000086426735, 181.0000044107437, 1) 0%,rgba(32.00000189244747, 34.00000177323818, 67.00000360608101, 1) 100%) ;
	width:60px;
	height:60px;
	position:absolute;
	left:178px;
	top:789px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e87_847 { 
	border-radius:50px;
	width:70px;
	height:70px;
	position:absolute;
	left:173px;
	top:784px;
}.87_847 { 
	border:3px solid rgba(8.000000473111868, 247.00000047683716, 254.00000005960464, 1)3px solid rgba(52.000000700354576, 137.00000703334808, 131.00000739097595, 1);
}.e87_848 { 
	border-radius:50px;
	width:70px;
	height:70px;
	position:absolute;
	left:173px;
	top:784px;
}.87_848 { 
	border:3px solid rgba(8.000000473111868, 247.00000047683716, 254.00000005960464, 1)3px solid rgba(52.000000700354576, 137.00000703334808, 131.00000739097595, 1);
}
/*.e87_850 { 
	background-color:rgba(0, 0, 0, 1);
	width:347px;
	height:524px;
	position:absolute;
	left:41px;
	top:120px;
}
*/
#rectangle_4 { 
	background-color:rgba(0, 0, 0, 1);
	width:347px;
	height:524px;
	position:absolute;
	left:41px;
	top:120px;
}#prediction_label { 
	background-color:rgba(255, 183.5999920964241, 0, 1);
	width:430px;
	height:40px;
	position:absolute;
	left:0px;
	top:694px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}.e87_852 { 
	width:430px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e87_853 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:26px;
	position:absolute;
	left:12px;
	top:17px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e87_854 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:52px;
	position:absolute;
	left:117px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e87_855 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:26px;
	position:absolute;
	left:256px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e87_856 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:26px;
	position:absolute;
	left:345px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e87_887 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:46px;
	position:absolute;
	left:108px;
	top:60px;
	font-family:Redressed;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e87_894 { 
	background-color:rgba(223.125, 223.125, 223.125, 1);
	width:167px;
	height:8px;
	position:absolute;
	left:132px;
	top:901px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}