<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Redressed&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
            
            <style>
            .e89_58 { 
				width:39.837398529052734px;
				height:40px;
				position:absolute;
				left:209px;
				top:42px;
				background-image:url("{{ url_for('static', filename='images/image_4.png') }}");
				background-repeat:no-repeat;
				background-size:cover;
			}
            </style>
          
          </head>
          
          <body>
            <div class=e87_867>
			  <div class="e87_875"></div><span  class="e87_876">Orbit Future</span><span  class="e87_877">Academy</span><span  class="e87_878">AI Camera App</span><span  class="e87_879">Orbit adalah......</span>
			  <div class=e87_880><a href="/"  class="e87_881">Home</a><a href="{{ url_for('capture_image') }}"  class="e87_882">EagleSense Detect</a><a href="{{ url_for('about') }}"  class="e87_883">About</a><a href="{{ url_for('kelompok') }}"  class="e87_884">Kelompok</a></div>
			  <div class=e88_49>
				<div class="e88_50"></div><span  class="e88_51">Home</span><a href="/"  class="e88_52">Kembali Ke Home</a>
				<div class="e89_58"></div>
			  </div><span  class="e89_62">About</span>
			</div>
          </body>
          </html>
