<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Redressed&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
            
            <style>
            .e89_57 { 
				width:39.837398529052734px;
				height:40px;
				position:absolute;
				left:209px;
				top:42px;
				background-image:url("{{ url_for('static', filename='images/image_1.png') }}");
				background-repeat:no-repeat;
				background-size:cover;
			}
            </style>
          
          </head>
          
          <body>
           <div class=e87_675>
			  <div class="e87_679"></div>
			  <div class="e87_683"></div><span  class="e87_685">EagleSense </span><span  class="e87_686">Application</span><span  class="e87_687">AI Camera App</span><span  class="e87_688">Selamat datang di EagleSnse Application, dengan aplikasi ini dapat membantu anda untuk mendeteksi apakah anda dalam kondisi mengantuk atau tidak
			</span>
			  <div class=e87_776><a href="/" class="e87_778">Home</a><a href="{{ url_for('capture_image') }}" class="e87_779">EagleSense Detect</a><a href="{{ url_for('about') }}" class="e87_780">About</a><a href="{{ url_for('kelompok') }}"  class="e87_782">Kelompok</a></div><span  class="e87_885">Home</span>
			  <div class=e88_44>
				<div class="e88_43"></div><a href="{{ url_for('capture_image') }}" class="e88_43"></a><span  class="e87_681">Ayo Coba </span><span  class="e87_682">coba untuk mendeteksi</span>
				<div class="e89_57"></div>
			  </div>
			</div> 
          </body>
          </html>
